html { 
  background: url(/images/mountain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#jsalarmclock {
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
}

#jsalarmclock div {
	margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn {
	float: left;
	width: 150px;
	font-size: 13px;
	background-color: none;
	clear: left;
}

#jsalarmclock span {
	margin-right: 5px;
}

