html { 
  background: url(https://photos-2.dropbox.com/t/0/AABTW-HH9czb1WjXHbvT3mFLnTmpL7V1DyyxwBteOUtx_Q/12/121564752/jpeg/32x32/3/_/1/2/Photo%20May%2028%2C%206%2021%2036%20PM.jpg/zIQ7hO8KbMsT5V2yB2VxW0N4KfTr6CxMKs3V0ClSinQ%2CjJSfUZCR7V-N4TEmlFtPjTIGSyjyjTcLNyQTQuXa5ME?size=1024x768) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#jsalarmclock {
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
}

#jsalarmclock div {
	margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn {
	float: left;
	width: 150px;
	font-size: 13px;
	background-color: none;
	clear: left;
}

#jsalarmclock span {
	margin-right: 5px;
}

