#jsalarmclock {
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
}

#jsalarmclock div {
	margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn {
	float: left;
	width: 150px;
	font-size: 13px;
	background-color: none;
	clear: left;
}

#jsalarmclock span {
	margin-right: 5px;
}

